:root{
--primary-color:#9E7540
--secondary-color: #FBF1CA;
--gray-color:#B0ACAC;
--black-light-color: #0a1118;
--black-light-color-highlight: #233D54;
--FingerPaint-font: 'Finger Paint', cursive;
--Hammersmith-font: 'Hammersmith One', sans-serif;
--Montserrat-font: 'Montserrat', sans-serif;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body{
    background-color: var(--secondary-color);
    font-size: 16px;
    font-family: var(--Hammersmith-font);
}
.header{
    
    z-index: 10;
}
.hero{
    position: relative;
    background: url('assets/images/carousel-1.jpg')no-repeat;
    background-size: cover;
    overflow: hidden;
    min-height: 600px;
    height: 100%;
}
a { color: var(--black-light-color); }
a:hover { color: var(--black-light-color-highlight); }